/* Default styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    color: #fff;
}

/* Added background img and fixed it */
body {
    background-image: url(./images/surveybg.jpg);
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

/* Made a section in middle for survey form using flex */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100vh;
    /* height: 90%; */
    padding: 2rem;
}

/* Styling to title/heading of form */

section .title {
    line-height: 1.8;
    text-align: center;
    word-spacing: 1.5px;
}

section .title h3 {
    font-size: 2rem;
    font-weight: 100;
}

section .title h6 {
    font-size: 1.1rem;
    font-weight: 100;
}

/* Styling to survey form */

.Sur_form {
    border: 1px solid #fff;
    background-color: rgba(5, 44, 61, 0.8);
    width: 50%;
}

/* Combine styline to input fields */

.Sur_form .input_field,
.submit_but,
.option_button {
    padding: 1.5rem 2.5rem 0 2.5rem;
    line-height: 2.1;
    text-align: left;

}

/* Styling to texts in tags */

.input_field h4,
.option_button h4 {
    font-size: 1.2rem;
    font-weight: 100;
}

.input_field input,
.input_field select,
.input_field textarea,
.submit_but input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: gray;
    border-radius: 6px;

}


.input_field select option {
    background-color: #fff;
    color: #000;
}

/* Styling to radio button and checkbox */

.option_button label {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.option_button label h5 {
    font-size: 1.1rem;
    font-weight: 100;
}

.option_button label input[type='radio'],
.option_button label input[type='checkbox'] {
    height: 20px;
    width: 20px;
}

/* Styling to submit button */

.submit_but input {
    color: #fff;
    background-color: #0b6389;
    padding: 0.8rem 0;
    cursor: pointer;
}

.submit_but {
    padding-bottom: 2rem;
}

/* Styling of survey form ended */